.
main .container-fluid {
    padding: 0 10px;
}

a {
    text-decoration: none !important;
}

.breadcrumb {
    margin-bottom: 0.65rem;
}

.was-validated .form-control:valid,
.form-control.is-valid {
    background-image: none;
    padding-right: 5px
}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    background-image: none;
    padding-right: 5px
}

a:hover {
    text-decoration: none;
}

.card-header {
    padding: 0.5rem 1rem;
}

.card-header-actions {
    margin-top: -3px;
    margin-bottom: -3px;
}

td[role="columnheader"] {
    text-align: center !important;
    font-weight: 500;
}

.form-text {
    font-style: italic;
}

.sidebar .nav-link .nav-icon {
    margin: 0 0.2rem 0 0;
}

.nav-link {
    padding: .5rem 0.8rem;
}

.nav-tabs .nav-link.active {
    color: #1ebba3 !important;
}

.nav-tabs .nav-link {
    color: #000000 !important;
}

/* kena clean */
.navbar-toolbar .navbar-right .navbar-profile .dropdown-menu {
    width: 200px;
}

.data-not-complete {
    background-color: rgba(244, 100, 95, 0.25) !important;
}

.modal {
    overflow: auto !important;
}

@media (min-width: 1024px) {
    .modal-xl {
        width: 1200px;
        max-width: 90%;
    }
}

.upload-label {
    background-color: indigo;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 10px;
}

#file-chosen{
    margin-left: 0.3rem;
    font-family: sans-serif;
}

.btn-warning.focus,
.btn-warning:focus {
    box-shadow: none;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

.btn-ghost-danger:not(:disabled):not(.disabled).active,
.btn-ghost-danger:not(:disabled):not(.disabled):active,
.show>.btn-ghost-danger.dropdown-toggle {
    height: 33px;
    padding-top: 5px;
}

.btn-ghost-danger {
    padding-top: 4px;
}

.profile-pic>img {
    border-radius: 0;
    position: relative;
    border: 5px solid #cc6262;
    top: -30px;
    left: 10px;
    display: inline-block;
    z-index: 4;
    max-width: 100px;
}

/* error page */
#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    padding: 15px;
}

.notfound .notfound-404 {
    position: relative;
    height: 220px;
}

.notfound .notfound-404 h1 {
    font-family: 'Kanit', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 186px;
    font-weight: 200;
    margin: 0px;
    background: linear-gradient(130deg, #ffa34f, #ff6f68);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}

.notfound h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 33px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: 3px;
}


.notfound p {
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin-top: 0px;
    margin-bottom: 25px;
}


.notfound a {
    font-family: 'Kanit', sans-serif;
    color: #ff6f68;
    font-weight: 200;
    text-decoration: none;
    border-bottom: 1px dashed #ff6f68;
    border-radius: 2px;
}

.notfound-social>a {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-size: 14px;
    color: #ff6f68;
    border: 1px solid #efefef;
    border-radius: 50%;
    margin: 3px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound-social>a:hover {
    color: #fff;
    background-color: #ff6f68;
    border-color: #ff6f68;
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        position: relative;
        height: 168px;
    }

    .notfound .notfound-404 h1 {
        font-size: 142px;
    }

    .notfound h2 {
        font-size: 22px;
    }
}

/* end error page*/

/* start timeline style */
ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
/* end timeline style*/
